/* Write your global styles here, in PostCSS syntax */
@tailwind base;
html,
body {
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
@tailwind components;
@tailwind utilities